!!! html
html
	head
		script(type="text/javascript", charset="utf-8", src="assets/"+hash+".js")
		script(type="text/javascript", charset="utf-8")!= "window.webpack_output = " + JSON.stringify(output) + ";"
	body