- require("mybootstrap");
.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="#") webpack
			.nav-collapse
				ul.nav
					li: a(href="#").buttons.button-home Home
					li: a(href="#").buttons.button-test1 Test1
					li: a(href="#").buttons.button-test2 Test2
					li: a(href="#").buttons.button-test3 Test3
.container
	.row
		.span8
			.page-header
				h1
					| webpack
					small  example app
			p Click the navigation items in the top bar to change right content.
			p The javascript for the different contents is loaded on demand by the webpack <em>require.ensure</em> method.
			p Watch the outgoing requests in your browsers dev tools.
			h2 source
			- var gh = "http://github.com/webpack/";
			- var sourceExample = gh+"example-app/"
			- var sourceWebpack = gh+"webpack/"
			p: a(href=sourceExample)
				b
					| example-app on github
			p: a(href=sourceWebpack)
				b
					| webpack on github
			h2 Choosen sources
			#choosen-sources!= require("./loading.jade")();
		.span4
			.page-header
				h1 status
					small  loaded chunks
			ul.chunks
				li!= require("./chunk.jade")({chunk: 0});
			.page-header
				h1 content
					small  some test content
			.content