- if(self.chunk === 0)
	| inital bundle
	= " "
	span.badge= self.chunk
	|  (
	code web.js
	| )
	|  was loaded. (script-tag)
- else
	| bundle
	= " "
	span.badge.badge-success= self.chunk
	|  (
	code
		= self.chunk
		| .web.js
	| )
	|  was loaded. (asynchron)