ul.nav.nav-tabs
	li.active
		a(href="#app", data-toggle="tab")
			i.icon-off
			|  app.js
	li
		a(href="#body", data-toggle="tab")
			i.icon-leaf
			|  body.pug
	li
		a(href="#sources", data-toggle="tab")
			i.icon-file
			|  sources.pug
.tab-content
	#app.tab-pane.active
		pre.pre-scrollable
			code= require("!raw-loader!./app.js")
	#body.tab-pane
		pre.pre-scrollable
			code= require("!raw-loader!./body.pug")
	#sources.tab-pane
		pre.pre-scrollable
			code= require("!raw-loader!./sources.pug")
