h1 three.js canvas - camera - orthographic example
.three-container
h2 test1/index.js
pre.pre-scrollable: code= require("!raw-loader!./index.js")
h2 test1/content.pug
pre: code= require("!raw-loader!./content.pug")