ul.nav.nav-tabs
	li.active
		a(href="#client", data-toggle="tab")
			i.icon-off
			|  client.js
	li
		a(href="#body", data-toggle="tab")
			i.icon-leaf
			|  body.jade
	li
		a(href="#sources", data-toggle="tab")
			i.icon-file
			|  sources.jade
	li
		a(href="#output", data-toggle="tab")
			i.icon-wrench
			|  compilation output
.tab-content
	#client.tab-pane.active
		pre.pre-scrollable
			code= require("raw!./client.js")
	#body.tab-pane
		pre.pre-scrollable
			code= require("raw!./body.jade")
	#sources.tab-pane
		pre.pre-scrollable
			code= require("raw!./sources.jade")
	#output.tab-pane
		pre.pre-scrollable
			code= window.webpack_output