p Click the navigation items in the top bar to change right content.
p The javascript for the different contents is loaded on demand by the webpack <em>require.ensure</em> method.
p Watch the outgoing requests in your browsers dev tools.
