p Klick auf die Navigationselement in der oberen Leiste um den Inhalt rechts zu ändern.
p Der Javascript Code für die unterschiedlichen Inhalte wird bei Bedarf geladen (durch webpack' <em>require.ensure</em> Methode).
p Du kannst der die ausgehenden Anfragen in den Entwicklungstools deines Browsers anzeigen lassen.
